@page "/EditarProveedor/{Id:int}"
@using Panaderia.BD.Data.Entidades
@using PanaderiaCliente.Client.Servicios
@inject IHttpService http

@inject NavigationManager navigationManager
<h3>Editar Proveedor</h3>

    <Form_Proveedor proveedor="proveedor" onCancel="Cancelar" onValidSubmit="Grabar" />

@code {
    private Proveedor proveedor = new Proveedor();
    [Parameter] public int Id { get; set; }

  

        protected async override Task OnInitializedAsync()
    {
        await Mostrar();
    }

    private async Task Mostrar()
    {
        var respuesta = await http.Get<Proveedor>($"api/Proveedores/{Id}");
        if(respuesta.Error)
        {
            var body = respuesta.HttpResponseMessage;
        }
        else
        {
            proveedor = respuesta.Respuesta;
        }
    }
    private async void Grabar()

    {

        var respuesta = await http.Put<Proveedor>($"api/Proveedores/{Id}", proveedor);
        if (respuesta.Error)
        {
            var body = respuesta.HttpResponseMessage;
        }
        navigationManager.NavigateTo("/Productos");





    }


    private void Cancelar()
    {
    }
}
